.TodoItem {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 300px;
    height: 30px;
    border: 1px solid;
}

.Icon {}

.Icon-check {}

.Icon-check--active {
    color: green;
}

.TodoItem-p {}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icon-delete {}